:root {
  --hcolor: #1A7FCB;
  --bgcolor: white;
  --fontcolor: RGBA(54, 35, 31, 1);
  --hlcolor: RGBA(54, 35, 31, 0.5);
}

html {
  width: 100%;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 480px) {
  html {
    width: 100%;
  }
}

body {
  background-color: var(--bgcolor);
  color: var(--fontcolor);
  font-family: Sans-Serif;
  font-size: 62.5%;
}

h1{
  color: var(--hcolor);
  width: 90%;
  border-bottom: 4px solid var(--hlcolor);
  font-size: 1.5em;
}
h2 {
  font-size: 1.2em;
}
h1#brooks-newberry {
  font-size: 2em;
  border-bottom: none;
  margin-bottom: -0.5em;
}

h1#brooks-newberry + ul {
  margin-bottom: 4.4em;
}
h1#brooks-newberry + ul li {
  float: left;
  width: 30em;
}

h1#summary {
  clear: left;
}

p, ul, ol, li, div {
  font-size: 1em;
}
ul {
  padding-left: 2em;
}
a {
  color: var(--hcolor);
  text-decoration: none;
}
h1#education {
  clear: left;
}
h1[id|="skills"] + ul {
  margin-bottom: 5em;
}
h1[id|="skills"] + ul li {
  float: left;
  width: 10em;
}
