<html>
<head>
  <title>Brooks Newberry's Resume</title>
  <meta name="viewport" content="initial-scale=1">
  <link href="{{ fingerprint.[css/spectre.min.css] }}" rel="stylesheet" type="text/css" />
  <link href="{{ fingerprint.[css/style.css] }}" rel="stylesheet" type="text/css" />
  {{#if webDest}}
  <link href="{{ fingerprint.[css/web.css] }}" rel="stylesheet" type="text/css" />
  {{/if}}
  
</head>
<body>
{{#if webDest}}
<a href="resume.pdf"><img id="noun-pdf" src="noun_451087.svg"></img></a>
{{/if}}
{{{contents}}}
</body>
</html>
